@font-face {
    font-family: Vazir;
    font-display: swap;
    src: url('../../public/fonts/Vazir.woff2') format('woff2'),
    url('../../public/fonts/Vazir.woff') format('woff'),
    url('../../public/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    font-display: swap;
    src: url('../../public/fonts/Vazir-Bold.woff2') format('woff2'),
    url('../../public/fonts/Vazir-Bold.woff') format('woff'),
    url('../../public/fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    font-display: swap;
    src: url('../../public/fonts/Vazir-Thin.woff2') format('woff2'),
    url('../../public/fonts/Vazir-Thin.woff') format('woff'),
    url('../../public/fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Vazir;
    font-display: swap;
    src: url('../../public/fonts/Vazir-Light.woff2') format('woff2'),
    url('../../public/fonts/Vazir-Light.woff') format('woff'),
    url('../../public/fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    font-display: swap;
    src: url('../../public/fonts/Vazir-Medium.woff2') format('woff2'),
    url('../../public/fonts/Vazir-Medium.woff') format('woff'),
    url('../../public/fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    font-display: swap;
    src: url('../../public/fonts/Vazir-Black.woff2') format('woff2'),
    url('../../public/fonts/Vazir-Black.woff') format('woff'),
    url('../../public/fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}

*{
    font-family: Vazir;
}
