:root {
  --tlight: white;
  --t_dark: black;
  --primary: rgb(0, 9, 48);
  --sd_primary: navy;
  --td_primary: #ffeb3b;
  --border: #394db8;
  --secondary: rgb(53, 59, 81);
  --secondary-purple: #3b0bf9;
  --success: #52b173;
  --warning: #d0a03b;
  --danger: #f44336;
}
strong{
  font-size: 1.5em;
}
.purple-background{
  background: rgb(161, 156, 251) !important;
  background: linear-gradient(
    90deg,
    rgba(161, 156, 251, 1) 0%,
    rgba(99, 99, 245, 1) 68%
  ) !important;
}

