@import '../global.css';
.main-div {
    background-image: url("../../register-company.webp") !important;
    background-size: cover;
    height: 90vh;
    padding: 10%;
    color: var(--tlight);
    text-align: center;
}
.btn {
    margin: 4%;
    margin-top: 10%;
    padding: 0.8em 1.7em;
    width: 32%;
    background-color: var(--td_primary);
    border-radius: 3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    font-family: inherit;
    text-transform: uppercase;
    z-index: 1;
    color: var(--sd_primary);
}
  
.btn::before, .btn::after {
   content: '';
   display: block;
   width: 50px;
   height: 50px;
   transform: translate(-50%, -50%);
   position: absolute;
   border-radius: 50%;
   z-index: -1;
   background-color: var(--tlight);
   transition: 1s ease;
}
  
.btn::before {
   top: -1em;
   left: -1em;
}
  
.btn::after {
   left: calc(80% + 1em);
   top: calc(100% + 2em);
}
  
.btn:hover::before, .btn:hover::after {
   height: 410px;
   width: 410px;
}
  
.btn:hover {
   color: rgb(10, 25, 30);
}
  
.btn:active {
   filter: brightness(.8);
}
.btn-mobile{
    padding: .5em;
    margin-top: 10em;
}